@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    
    --cor-01: #76A9F5;
    --cor-02: #7BC5FF;
    --cor-03: #A1E0F8;
    --cor-04: #C7E8F5;
    --cor-05: #000040;
    --cor-06: rgba(5, 5, 64, 0.6);
    --cor-07: #76D3F4;
    --cor-08: rgba(118, 210, 244, 0.6);
   
    --font-padrão: "Libre Baskerville", serif;
}
