@charset "UTF-8";

:root{
    --cor-01: #EEE3AF;
    --cor-02: #B87956;
    --cor-03: #FEADC8;
    --cor-04: #000000;
}

body{
    height: 100vh;
    display: flex;
    background-color: var(--cor-01);
    margin: 0;
}

.container{
    display: flex;
}

.barra-inferior{
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--cor-02);
}

.barra-lateral{
  height: 100vh;
  width: 14%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--cor-03);
}

.barra-superior{
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--cor-04);
}